.logo {
  width: 145px;
  font-family: $brand-font-family;
  font-style: $brand-font-style;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $brand-color;

  &__header {
    color: $brand-font-color;
  }
}
