.newsletter {
  margin: 0px 8px;
  position: relative;
  top: 45px;
  width: auto;
  height: 86px;

  &__text {
    width: 207px;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
